@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
  --background-colour: #1c1b1f;
  --button-background-colour: #4a4458;
  --background-hover-colour: #1f1731;
  --primary-text-colour: #d0bcff;
  --secondary-text-colour: #9a76e9;
  --border-colour: #938f99;
}

.App {
  text-align: center;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-colour);
  align-items: center;
}

.header_title {
  margin-left: 1%;
}

button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  color: var(--secondary-text-colour);
  background-color: var(--secondary-background-colour);
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid var(--border-colour);
  cursor: pointer;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.reviews-add-button {
  margin: 0 0 0 auto;
}

.review-card {
  display: flex;
  border: 1px solid var(--border-colour);
  border-radius: 2px;
}

.review-card-img {
  width: 20%;
}

.left {
  padding-left: 10px;
  text-align: left;
}

.review-card-title {
  margin: 2px 0 0 auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.review-card-createdby {
  display: inline-flex;
  color: var(--secondary-text-colour);
  margin: 0;
}

.review-card-timestamp {
  font-size: 12px;
  margin-left: 5px;
  align-self: center;
}

.right {
  margin: auto 0 0 auto;
  padding-right: 10px;
  text-align: center;
}

.review-card-category {
  display: inline-block;
}

.review-card:hover,
button:hover {
  scale: 1.02;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.5);
  background-color: var(--background-hover-colour);
}

.review {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--background-hover-colour);
  width: 70%;
}

.review-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.review-owner {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.review-owner h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.review-owner h4 {
  font-size: 12px;
  color: var(--secondary-text-colour);
  margin: 0;
}

.review-body {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.review-image {
  aspect-ratio: 1;
  margin-bottom: 20px;
}

.review-statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-top: 1px solid var(--border-colour);
}

.review-votes,
.review-comment_count {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-size: 1.2em;
  padding-top: 10px;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.loading-text {
  font-size: 2rem;
}

.loading-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid var(--primary-text-colour);
  border-top-color: transparent;
  animation: loading-animation 0.75s linear infinite;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.comments-section {
  padding: 20px;
  border-bottom: 1px solid #8563ce2f;
}

.user-info {
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
  flex-direction: row;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  margin-left: 10px;
  margin-top: 10px;
}

.comment-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.timestamp {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
}

.comment-text {
  align-self: flex-start;
}

.vote-buttons {
  display: flex;
  align-items: center;
}
.vote-buttons > button {
  padding: 10px 10px;
  margin: 0 5px 0 0;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
  p {
    font-size: 9px;
  }

  .reviews {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90%;
  }

  .review-card-timestamp {
    font-size: 6px;
    margin-left: 2px;
    align-self: center;
  }

  .review-card {
    margin: 0;
    width: 100%;
  }

  .header_buttons > button {
    padding: 5px 10px;
    font-size: 10px;
  }

  .reviews-add-button {
    padding: 5px 10px;
    font-size: 10px;
  }

  .review {
    width: 85%;
  }
  .review-title {
    font-size: 18px;
  }
  .review-body {
    font-size: 14px;
  }

  .review-votes,
  .review-votes-btns > button,
  .review-comment_count,
  .review-comment-btn,
  vote-buttons > button {
    font-size: 10px;
    padding: 5px 10px;
  }

  .show {
    width: 90%;
  }
  .vote-buttons > button {
    padding: 5px 5px;
    margin: 0 5px 0 0;
    font-size: 12px;
  }
}
